body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Campton;
  src: url(./assets/fonts/Campton-Light.ttf);
}

@font-face {
  font-family: Neu;
  src: url(./assets/fonts/NeueMachina-Black.ttf)
}

@font-face {
  font-family: Jost;
  src: url(./assets/fonts/Jost.otf)
}

@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins.ttf)
}

.topcate,
.strike,
.price {
  font-family: "Neu";
}

.login {
  font-family: "Campton";
}

.login_cart .cart {
  font-family: "Campton";
}

button,
.itemname {
  font-family: "Campton";
}

.flash .details div,
ul,
.name,
.discount .order {
  font-family: "Campton";
}

.logo_newletter {
  font-family: "Campton";
}

.address {
  font-family: "Jost";
}

.about ul li,
.contact .phone,
.reserved,
.social ul li {
  font-family: "Poppins";
}

@media (min-width: 992px) {
  body {
    overflow-x: hidden;
  }
}

.searchresult {
  font-family: "Campton";
}


/* .active:focus {
  background: #BC3B62;
} */

.content .clear-btn:focus {
  color: white;
  height: 100%;
  width: 8rem;
  background: #BC3B62;
}

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(22, 28%, 21%);
  --clr-primary-2: hsl(22, 28%, 29%);
  --clr-primary-3: hsl(22, 28%, 37%);
  --clr-primary-4: hsl(22, 28%, 45%);
  /* primary/main color */
  --clr-primary-5: hsl(22, 31%, 52%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(22, 31%, 60%);
  --clr-primary-7: hsl(22, 31%, 67%);
  --clr-primary-8: hsl(20, 31%, 74%);
  --clr-primary-9: hsl(22, 31%, 81%);
  --clr-primary-10: hsl(22, 31%, 88%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}


@media (max-width: 360px) {
  .wrap {
    margin-top: 2rem;

  }

  .others_flash {}

  .personalcolor {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
  }

  .topcate {
    text-align: center;
  }

  .newsletter .new {
    font-size: 1rem;
  }

  .logo_newletter .newsletter .new {
    font-size: 1rem;
  }




}